{% extends "layouts/dwp-main.html" %}

{% set prevURL = "./referral-type" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Create a referral</h1>

        <h2 class="govuk-heading-m">Additional details</h2>

        <form method="post" action="#">


            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Consent for further medical evidence given?
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="fme_consent_given" name="fmeConsentGiven" type="radio" value="YES" {% if data.fmeConsentGiven === 'YES' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="fme_consent_given">
                                Yes
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="fme_consent_given-2" name="fmeConsentGiven" type="radio" value="NO" {% if data.fmeConsentGiven === 'NO' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="fme_consent_given-2">
                                No
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="fme_consent_given-3" name="fmeConsentGiven" type="radio" value="NOT_KNOWN" {% if data.fmeConsentGiven === 'NOT_KNOWN' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="fme_consent_given-3">
                                Not known
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Safety measures
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ucb_ind" name="ucbInd" type="radio" value="YES" {% if data.ucbInd === 'YES' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="ucb_ind">
                                Yes
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ucb_ind-2" name="ucbInd" type="radio" value="NO"  {% if data.ucbInd === 'NO' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="ucb_ind-2">
                                No
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ucb_ind-3" name="ucbInd" type="radio" value="NOT_KNOWN" {% if data.ucbInd === 'NOT_KNOWN' or not data.ucbInd %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="ucb_ind-3">
                                Not known
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
{% if data['benefitType'] == 'ESA' %}
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" id="mental_health_ind_id">
                    <legend class="govuk-fieldset__legend">
                        Mental health condition
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="mental_health_ind" name="mentalHealthInd" type="radio" value="YES" {% if data.mentalHealthInd === 'YES' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="mental_health_ind">
                                Yes
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="mental_health_ind-2" name="mentalHealthInd" type="radio" value="NO" {% if data.mentalHealthInd === 'NO' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="mental_health_ind-2">
                                No
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="mental_health_ind-3" name="mentalHealthInd" type="radio" value="NOT_KNOWN" {% if data.mentalHealthInd === 'NOT_KNOWN' or not data.mentalHealthInd %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="mental_health_ind-3">
                                Not known
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
{% endif %}
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        SREL
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="srti" name="isSrti" type="radio" value="YES" {% if data.isSrti === 'YES' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="srti">
                                Yes
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="srti-2" name="isSrti" type="radio" value="NO" {% if data.isSrti === 'NO' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="srti-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Requires additional support?
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="requires_additional_support" name="requiresAdditionalSupport" type="radio" value="YES" {% if data.requiresAdditionalSupport === 'YES' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="requires_additional_support">
                                Yes
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="requires_additional_support-2" name="requiresAdditionalSupport" type="radio" value="NO" {% if data.requiresAdditionalSupport === 'NO' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="requires_additional_support-2">
                                No
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="requires_additional_support-3" name="requiresAdditionalSupport" type="radio" value="NOT_KNOWN" {% if data.requiresAdditionalSupport === 'NOT_KNOWN' %}checked{% endif %} />
                            <label class="govuk-label govuk-radios__label" for="requires_additional_support-3">
                                Not known
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="referral_date-hint">
                    <legend class="govuk-fieldset__legend">
                        Referral date
                    </legend>

                    <div id="referral_date-hint" class="govuk-hint">
                        For example, 26 3 2025
                    </div>

                    <div class="govuk-date-input" id="referral_date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="referral_date-Day">
                                    Day
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="referral_date-Day" value="{{ data['referralDate-Day'] }}" name="referralDate-Day" type="text" value="3" autocomplete="off" inputmode="numeric" />
                            </div>
                        </div>

                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="referral_date-Month">
                                    Month
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="referral_date-Month" value="{{ data['referralDate-Month'] }}" name="referralDate-Month" type="text" value="4" autocomplete="off" inputmode="numeric" />
                            </div>
                        </div>

                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="referral_date-Year">
                                    Year
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="referral_date-Year" value="{{ data['referralDate-Year'] }}" name="referralDate-Year" type="text" value="2025" autocomplete="off" inputmode="numeric" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}
