{% extends "layouts/dwp-main.html" %}

{% set prevURL = "./claimant-details" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Create a referral</h1>

        <h2 class="govuk-heading-m">Contact details</h2>

        <form method="post" action="#">

            <div class="govuk-form-group">
                <label class="govuk-label" for="mobile_phone">
                    Mobile phone number
                </label>

                <input class="govuk-input govuk-input--width-10" id="mobile_phone" value="{{ data.mobilePhone }}" name="mobilePhone" type="text" value="" autocomplete="off" />
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="additional_phone">
                    Additional phone number
                </label>

                <input class="govuk-input govuk-input--width-10" id="additional_phone" value="{{ data.additionalPhone }}" name="additionalPhone" type="text" value="" autocomplete="off" />
            </div>

            <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}
