{% extends "layouts/dwp-main.html" %}

{% set prevURL = "/" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m">
            Filters
        </h2>
        <p class="govuk-hint">Select one or more filters to apply to the list.</p>
        <div class="table-filter">
            <form id="filters" method="get" action="/refergw-ui_qa01_gateway/referrals">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-margin-bottom-5">
                            Provider lot
                        </legend>

                        <div class="govuk-checkboxes" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="lot_1" name="lotid" type="checkbox" value="1" />
                                <label class="govuk-label govuk-checkboxes__label" for="lot_1">
                                    Lot 1
                                </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="lot_2" name="lotid" type="checkbox" value="2" />
                                <label class="govuk-label govuk-checkboxes__label" for="lot_2">
                                    Lot 2
                                </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="lot_3" name="lotid" type="checkbox" value="3" />
                                <label class="govuk-label govuk-checkboxes__label" for="lot_3">
                                    Lot 3
                                </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="lot_4" name="lotid" type="checkbox" value="4" />
                                <label class="govuk-label govuk-checkboxes__label" for="lot_4">
                                    Lot 4
                                </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="lot_5" name="lotid" type="checkbox" value="5" />
                                <label class="govuk-label govuk-checkboxes__label" for="lot_5">
                                    Lot 5
                                </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="lot_100" name="lotid" type="checkbox" value="100" />
                                <label class="govuk-label govuk-checkboxes__label" for="lot_100">
                                    Lot 100
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button id="filter_submit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2">Apply filters</button>
            </form>
            <p>
                <a class="govuk-link govuk-body" href="/refergw-ui_qa01_gateway/" id="clear-filters">Clear filters</a>
            </p>
        </div>
    </div>
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">Incomplete referrals</h1>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-visually-hidden">
                Incomplete referrals
            </caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Claimant name</th>
                    <th scope="col" class="govuk-table__header">NI number</th>
                    <th scope="col" class="govuk-table__header">Date submitted</th>

                    <th scope="col" class="govuk-table__header" id="action-column-heading">Actions</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Joe Bloggs</td>
                    <td class="govuk-table__cell">PA000006</td>
                    <td class="govuk-table__cell">26 Mar 2025</td>

                    <td class="govuk-table__cell" id='action-column-cell-67e42c64d0b02e142e61904e"'>
                        <div class="govuk-!-margin-bottom-2">
                            <a href="./update-claimant-details" tabindex="0" class="govuk-link govuk-link--no-visited-state">
                                Update details<span class="govuk-visually-hidden"> for NI number PA000006/26 Mar 2025</span>
                            </a>
                        </div>

                        <div>
                            <a href="#" tabindex="0" class="govuk-link govuk-link--no-visited-state">
                                Remove referral<span class="govuk-visually-hidden"> for NI number PA000006/26 Mar 2025</span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <nav class="has_pagination" aria-label="has_pagination">
            <p class="has_pagination__results" style="float: right">Showing <span class="govuk-!-font-weight-bold">1</span> to <span class="govuk-!-font-weight-bold">1</span> of <span class="govuk-!-font-weight-bold">1</span> referral</p>
        </nav>
    </div>
</div>


{% endblock %}
