{% extends "layouts/dwp-main.html" %}

{% set prevURL = "/" %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row govuk-main-wrapper govuk-main-wrapper--auto-spacing">
        <div class="govuk-grid-column-one-quarter">
            <nav class="dwp-side-navigation" aria-label="Side" role="navigation">
                <ul class="dwp-side-navigation__list">
                    <li class="dwp-side-navigation__item">
                        <a id="referral-overview" href="./update-claimant-details" class="dwp-side-navigation__link">
                          Claimant details
                        </a>
                    </li>

                    <li class="dwp-side-navigation__item dwp-side-navigation__item--selected">
                        <a id="claimant-details" href="./update-referral-details" class="dwp-side-navigation__link dwp-side-navigation__link--selected" aria-current="true">
                            Referral details
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="govuk-grid-column-one-half">
            <main id="main-content">
                <h1 id="referral-details" class="govuk-heading-m">Referral details</h1>

                <dl class="govuk-summary-list">



              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Benefit type
                  </dt>
                  <dd class="govuk-summary-list__value">
                        ESA
                  </dd>

                  <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="./benefit-type">
                        Change
                      </a>
                  </dd>
              </div>


  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          Referral ID
      </dt>
      <dd class="govuk-summary-list__value">
            123467890
      </dd>

      <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="./benefit-type">
              Change
          </a>
      </dd>
  </div>


  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          Referral type
      </dt>
      <dd class="govuk-summary-list__value">
            New referral
      </dd>

      <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="./referral-type">
              Change
          </a>
      </dd>
  </div>

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          Consent for further medical evidence given?
      </dt>
      <dd class="govuk-summary-list__value">
            Yes
      </dd>

      <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="./additional-details">
              Change
          </a>
      </dd>
  </div>

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          Safety measures
      </dt>
      <dd class="govuk-summary-list__value">
            Yes
      </dd>

      <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="./additional-details">
              Change
          </a>
      </dd>
  </div>

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          Mental health condition
      </dt>
      <dd class="govuk-summary-list__value">
            Yes
      </dd>

      <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="./additional-details">
              Change
          </a>
      </dd>
  </div>

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          SREL
      </dt>
      <dd class="govuk-summary-list__value">
            Yes
      </dd>

      <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="./additional-details">
              Change
          </a>
      </dd>
  </div>

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          Requires additional support?
      </dt>
      <dd class="govuk-summary-list__value">
            Yes
      </dd>

      <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="./additional-details">
              Change
          </a>
      </dd>
  </div>

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          Referral date
      </dt>
      <dd class="govuk-summary-list__value">
            26 March 2025
      </dd>

      <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="./additional-details">
              Change
          </a>
      </dd>
  </div>

          </dl>
            </main>
        </div>
        <div class="govuk-grid-column-one-quarter">
        </div>
    </div>
</div>


{% endblock %}
