{% extends "layouts/dwp-main.html" %}

{% set prevURL = "./referral-type" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">
          Referral created
        </h1>
      </div>
      <p class="govuk-body">
        <a href="./claimant-details" class="govuk-link">
          Create another referral
        </a>
      </p>
      <p class="govuk-body">
        <a href="#" class="govuk-link">Go to new referrals to assign page</a>
      </p>
    </div>
  </div>

  {% endblock %}
