{% extends "layouts/main.html" %} 
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral-pip.html" %}

<div class="govuk-width-container {{ containerClasses }}">

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

  <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
      <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

        

            <h1 class="govuk-heading-l">HCP review</h1>

         


  <!------------CANNED PHRASES LEGEND------------>
  {% set legendCannedDetails %}
        
        
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-margin-bottom-2">Prompt 1</p>


    </div>
    <div class="govuk-grid-column-three-quarters">

      <p class="govuk-list_prase"><span id="prase1">1 Lorem ipsum dolor sit amet. Qui necessitatibus voluptatem id minima ratione ab quidem galisum aut omnis veritatis. Non numquam quam qui veritatis accusantium ab odio velit ab repudiandae illum et veniam facere qui atque necessitatibus qui unde doloribus.</span></p>


      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="1 Lorem ipsum dolor sit amet. Qui necessitatibus voluptatem id minima ratione ab quidem galisum aut omnis veritatis. Non numquam quam qui veritatis accusantium ab odio velit ab repudiandae illum et veniam facere qui atque necessitatibus qui unde doloribus." aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>

    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-margin-bottom-2">Prompt 2</p>


    </div>
    <div class="govuk-grid-column-three-quarters">

      <p class="govuk-list_prase"><span id="prase2">2 Lorem ipsum dolor sit amet. Qui necessitatibus voluptatem id minima ratione ab quidem galisum aut omnis veritatis. Non numquam quam qui veritatis accusantium ab odio velit ab repudiandae illum et veniam facere qui atque necessitatibus qui unde doloribus.</span></p>


      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="2 Lorem ipsum dolor sit amet. Qui necessitatibus voluptatem id minima ratione ab quidem galisum aut omnis veritatis. Non numquam quam qui veritatis accusantium ab odio velit ab repudiandae illum et veniam facere qui atque necessitatibus qui unde doloribus." aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>

    </div>
  </div>



  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-margin-bottom-2">Prompt 3</p>


    </div>
    <div class="govuk-grid-column-three-quarters">

      <p class="govuk-list_prase"><span id="prase2">3 Lorem ipsum dolor sit amet. Qui necessitatibus voluptatem id minima ratione ab quidem galisum aut omnis veritatis. Non numquam quam qui veritatis accusantium ab odio velit ab repudiandae illum et veniam facere qui atque necessitatibus qui unde doloribus.</span></p>


      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="3 Lorem ipsum dolor sit amet. Qui necessitatibus voluptatem id minima ratione ab quidem galisum aut omnis veritatis. Non numquam quam qui veritatis accusantium ab odio velit ab repudiandae illum et veniam facere qui atque necessitatibus qui unde doloribus." aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>

    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-margin-bottom-2">Prompt 4</p>


    </div>
    <div class="govuk-grid-column-three-quarters">

      <p class="govuk-list_prase"><span id="prase2">4 Lorem ipsum dolor sit amet. Qui necessitatibus voluptatem id minima ratione ab quidem galisum aut omnis veritatis. Non numquam quam qui veritatis accusantium ab odio velit ab repudiandae illum et veniam facere qui atque necessitatibus qui unde doloribus.</span></p>


      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="4 Lorem ipsum dolor sit amet. Qui necessitatibus voluptatem id minima ratione ab quidem galisum aut omnis veritatis. Non numquam quam qui veritatis accusantium ab odio velit ab repudiandae illum et veniam facere qui atque necessitatibus qui unde doloribus." aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>

    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-margin-bottom-2">Prompt 5</p>

    </div>


    <div class="govuk-grid-column-three-quarters">

      <p class="govuk-list_prase"><span id="prase3">5 Lorem ipsum dolor sit amet. Qui necessitatibus voluptatem id minima ratione ab quidem galisum aut omnis veritatis. Non numquam quam qui veritatis accusantium ab odio velit ab repudiandae illum et veniam facere qui atque necessitatibus qui unde doloribus.</span></p>


      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="5 Lorem ipsum dolor sit amet. Qui necessitatibus voluptatem id minima ratione ab quidem galisum aut omnis veritatis. Non numquam quam qui veritatis accusantium ab odio velit ab repudiandae illum et veniam facere qui atque necessitatibus qui unde doloribus." aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>

    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-margin-bottom-2">Prompt 6</p>

    </div>


    <div class="govuk-grid-column-three-quarters">

      <p class="govuk-list_prase"><span id="prase4">6 Lorem ipsum dolor sit amet. Qui necessitatibus voluptatem id minima ratione ab quidem galisum aut omnis veritatis. Non numquam quam qui veritatis accusantium ab odio velit ab repudiandae illum et veniam facere qui atque necessitatibus qui unde doloribus.</span></p>


      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="6 Lorem ipsum dolor sit amet. Qui necessitatibus voluptatem id minima ratione ab quidem galisum aut omnis veritatis. Non numquam quam qui veritatis accusantium ab odio velit ab repudiandae illum et veniam facere qui atque necessitatibus qui unde doloribus." aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>

    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body govuk-!-margin-bottom-2">Prompt 7</p>

    </div>


    <div class="govuk-grid-column-three-quarters">

      <p class="govuk-list_prase"><span id="prase5">7 Lorem ipsum dolor sit amet. Qui necessitatibus voluptatem id minima ratione ab quidem galisum aut omnis veritatis. Non numquam quam qui veritatis accusantium ab odio velit ab repudiandae illum et veniam facere qui atque necessitatibus qui unde doloribus.</span></p>


      <div class="app-example__code">
          <button class="app-example__copy-code-button" data-copy-text="7 Lorem ipsum dolor sit amet. Qui necessitatibus voluptatem id minima ratione ab quidem galisum aut omnis veritatis. Non numquam quam qui veritatis accusantium ab odio velit ab repudiandae illum et veniam facere qui atque necessitatibus qui unde doloribus." aria-live="assertive" data-module="html">Copy paragraph</button>
        </div>

    </div>
  </div>

  {% endset %}

















            <form action="/first-iteration-IR/htln-973-prompts/IR-landingPage-playback" method="post">

           

            
           
            
          

              {{ govukTextarea({
                  name: "hcpreviewpip" + storedEntryAmount,
                  id: "hcpreviewpip" + storedEntryAmount,
                  rows: "12",
                  label: {
                    text: "Enter clinical review and justification",
                    classes: "govuk-label--s",
                    isPageHeading: false
                  },
                  hint: {
                    text: "Include whether evidence has been reviewed, the type of FME requested, and what to do if it's not returned."
                  }
                }) }}

                {{ govukDetails({
                  summaryText: "Standard wording examples",
                  classes: "govuk-!-margin-bottom-0",
                  html: legendCannedDetails
                }) }}
               
                <br>
                <br>


                <br>

                <div class="govuk-button-group">
               
                    {{ govukButton({
                      name: "submit",
                      value: "Save and continue2",
                      text: "Save and continue"
                    }) }}
                
                </div>
            </form>

          </div>
    </div>
  </main>
  </div>
{% endblock %}
