{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   
    <h1 class="govuk-heading-xl">
      {{ serviceName }}</h1>


      <h2 class="govuk-heading-l" id="research">MVP - HCP review </h2>
      <p class="govuk-body-l">This section is to illustrate how HCP review will be released for MVP. Note this is a prototype and is just for illustration, so may not reflect all scenarios.</p>

      <!-- <p class="govuk-body"> <a href="first-iteration-IR/htln-179-mvp-first-release/" class="govuk-link">HCP review - 1st release proposed (draft to be reviewed)</a></p>
     -->

      <p class="govuk-body"> <a href="first-iteration-IR/htln-179-mvp-third-release/" class="govuk-link">HCP review</a></p>
      <p class="govuk-body"> <a href="first-iteration-IR/htln-179-mvp-third-release/IR-landingPage-playback-error.html" class="govuk-link">HCP review - Validation</a></p>
      <p class="govuk-body"> <a href="first-iteration-IR/htln-218-serviceDown/400-500-serviceDown.html" class="govuk-link">HCP review - Error 400-500 Service down</a></p>
     
     
     <br>

      <!-- <h2 class="govuk-heading-s" id="research">HCP review with Status page (Navigation page) </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="first-iteration-IR/htln-179-mvp-third-release/">after summary page</a></li>
        <li><a href="first-iteration-IR/htln-179-mvp-release/">before summary page</a></li>
        </ul>
       -->
     

      
    


      <h3 class="govuk-heading-s" id="research">Jira tickets</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://dwpdigital.atlassian.net/browse/HTLN-179">HTLN-179</a>, MVP prototype for HCP review</li>
        <li><a href="https://dwpdigital.atlassian.net/browse/HTLN-184">HTLN-184</a>, Page width against HAS standard</li>
        <li><a href="https://dwpdigital.atlassian.net/browse/HTLN-218">HTLN-218</a>, HCP Review - service down errors (400-500)</li>
        </ul>

   
      
 
      <hr class="govuk-!-margin-top-9 govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-l" id="research">HCP review past designs and research </h2>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Previous work
          </span>
        </summary>
       
      
      <br>
      <br>

      <h2 class="govuk-heading-m" id="research">Second iteration of HCP review </h2>
      <p class="govuk-body-l">These prototypes represent the second iteration designs of HCP review within HAS. The intention is to release a test and learn release, with the goal to inform a strategic solution.</p>

      <p class="govuk-body"> <a href="first-iteration-IR/htln-141-second-draft-pip/" class="govuk-link">HCP review - 2nd iteration</a></p>
      

     

      <p class="govuk-body"> <a href="first-iteration-IR/htln-141-mvp-HCP-assessment/" class="govuk-link">HCP review (when in Assessment status)</a></p>
      
      <h3 class="govuk-heading-s" id="research">Jira tickets</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://dwpdigital.atlassian.net/browse/HTLN-141">HTLN-141</a>, Round 2 design for HCP review</li>
        </ul>


 
      <hr class="govuk-!-margin-top-9 govuk-!-margin-bottom-6">

    
      <h2 class="govuk-heading-m" id="research">First iteration of HCP review </h2>
      <p class="govuk-body-l">These prototypes represent the first iteration designs of HCP review (initial review) within HAS. The intention is to release a test and learn release, with the goal to inform a strategic solution.</p>

      <h2 class="govuk-heading-s" id="research">Day 1 testing</h2>
      <p class="govuk-body"> <a href="first-iteration-IR/htln-63-first-draft-day1/" class="govuk-link">UC HCP review Day 1</a></p>
      <p class="govuk-body"> <a href="first-iteration-IR/htln-63-first-draft-pip-day1/" class="govuk-link">PIP HCP review Day 1</a></p>
      

      <h2 class="govuk-heading-s" id="research">Day 2 testing</h2>
      <p class="govuk-body"> <a href="first-iteration-IR/htln-63-first-draft/" class="govuk-link">UC HCP review</a></p>
      <p class="govuk-body"> <a href="first-iteration-IR/htln-63-first-draft-pip/" class="govuk-link">PIP HCP review</a></p>
      
      
      <h3 class="govuk-heading-s" id="research">Jira tickets</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://dwpdigital.atlassian.net/browse/HTLN-63">HTLN-63</a>, Initial prototype for tactical IR (agreed journey)</li>
        </ul>

    </details>
  

  </div>
</div>

{% endblock %}
