{% extends "layouts/main.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

<!-- {% include "includes/home-header.html" %} -->

  <div class="govuk-width-container">

    {{ govukBackLink({
      text: "Back",
      href: "javascript:history.back()"
    }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
              

              <h1 class="govuk-heading-l">HCP reviews</h1>

              <p class="govuk-body-l">No HCP reviews have been added.</p>

              <br>
              <p><a class="govuk-button" href="IR-landingPage-playback-BG-draft.html">Add HCP review</a>
              <br><a class="govuk-link" href="referral-details.html">Return to referral details</a></p>





              
              



    
    

          
          
             
               

            </div>
        </div>

    </main>
  </div>
{% endblock %}
