{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral-2.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    {{ govukBackLink({
      text: "Go back to Assessment overview",
      href: "assessment-overview"
    }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

             

              <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">Check your answers</h1>

              <h2 class="govuk-heading-l">Assessment</h2>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  {% if data['assessmenttype'] %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Assessment type</dt>
                    <dd class="govuk-summary-list__value">{{ data['assessmenttype'] }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="assessment-type">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                  </div>
                  {% endif %}

                  {% if data['attendeename'] %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Additional attendee</dt>
                    <dd class="govuk-summary-list__value"><p>{{ data['attendeename'] }}</p>
                      {% if data['attendeerelationship'] %}
                      <p>{{ data['attendeerelationship'] }}</p>
                      {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="add-attendees">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                  </div>
                  {% endif %}

                  {% if data['conditionhistory'] %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Condition history</dt>
                    <dd class="govuk-summary-list__value">{{ data['conditionhistory'] | striptags(true) | escape | nl2br }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="condition-history">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                  </div>
                  {% endif %}

                  {% if data['medication'] %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Medication and side effects</dt>
                    <dd class="govuk-summary-list__value">{{ data['medication'] | striptags(true) | escape | nl2br }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="medication">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                  </div>
                  {% endif %}

                  {% if data['socialandwork'] %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Social and work history</dt>
                    <dd class="govuk-summary-list__value">{{ data['socialandwork'] | striptags(true) | escape | nl2br }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="social-and-work">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                  </div>
                  {% endif %}

                  {% if data['typicalday'] %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Typical day</dt>
                    <dd class="govuk-summary-list__value">{{ data['typicalday'] | striptags(true) | escape | nl2br }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="typical-day">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                  </div>
                  {% endif %}

                  {% if data['evidenceused'] %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Evidence</dt>
                    <dd class="govuk-summary-list__value">{{ data['evidenceused'] | striptags(true) | escape | nl2br }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="evidence-used">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                  </div>
                  {% endif %}

                  </dl>

                  {% if data['mobilisingSelect'] or data['standingsittingSelect'] or data['reachingSelect'] or data['pickingupSelect'] or data['dexteritySelect'] or data['makingselfunderstoodSelect'] or data['understandingcommunicationSelect'] or data['navigationSelect'] or data['continenceSelect'] or data['stayingconsciousSelect'] %}
                <h2 class="govuk-heading-l">Physical functions</h2>
                {% endif %}
                

                  {% if data['mobilisingSelect'] or data['mobilisingNotes'] or data['mobilisingdetails']%}
                  <h3 class="govuk-heading-m">Mobilising and using steps <a href="descriptors/mobilising-using-steps" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    {% if data['mobilisingNotes'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key no-bottom-border">Notes on mobilising and using steps</dt>
                        <dd class="govuk-summary-list__value no-bottom-border">{{ data['mobilisingNotes'] | striptags(true) | escape | nl2br  }}</dd>
                    </div>
                    {% endif %}
                    {% if data['mobilisingSelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">Choose the descriptor that's most appropriate to the claimant</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['mobilisingSelect'] }}</dd>
                    </div>
                    {% endif %}
                    {% if data['mobilisingdetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['mobilisingdetails'] | striptags(true) | escape | nl2br  }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                  </dl>
                    {% endif %}

                    {% if data['standingsittingSelect'] or data['standingsittingNotes'] or data['standingsittingdetails']%}
                    <h3 class="govuk-heading-m">Standing and sitting<a href="descriptors/standing-and-sitting"" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      {% if data['standingsittingNotes'] %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key no-bottom-border">Notes on standing and sitting</dt>
                        <dd class="govuk-summary-list__value no-bottom-border">{{ data['standingsittingNotes'] | striptags(true) | escape | nl2br  }}</dd>
                        <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                      </div>
                      {% endif %}
                      {% if data['standingsittingSelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">Choose the descriptor that's most appropriate to the claimant</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['standingsittingSelect'] }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['standingsittingdetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['standingsittingdetails'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                  </dl>
                    {% endif %}

                    {% if data['reachingSelect'] or data['reachingNotes'] or data['reachingdetails']%}
                    <h3 class="govuk-heading-m">Reaching<a href="descriptors/reaching"" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      {% if data['reachingNotes'] %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key no-bottom-border">Notes on reaching</dt>
                        <dd class="govuk-summary-list__value no-bottom-border">{{ data['reachingNotes'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                      </div>
                      {% endif %}
                      {% if data['reachingSelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">Which of these options describes how the claimant can reach for things?</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['reachingSelect'] }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['reachingdetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['reachingdetails'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                  </dl>
                    {% endif %}

                    {% if data['pickingupSelect'] or data['pickingupNotes'] or data['pickingupdetails'] %}
                    <h3 class="govuk-heading-m">Picking up and moving things<a href="descriptors/pickingup" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      {% if data['pickingupNotes'] %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key no-bottom-border">Notes on picking up and moving things</dt>
                        <dd class="govuk-summary-list__value no-bottom-border">{{ data['pickingupNotes'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                      </div>
                      {% endif %}
                      {% if data['pickingupSelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">Which of these options describes how the claimant can pick things up and move them?</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['pickingupSelect'] }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['pickingupdetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['pickingupdetails'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                    </dl>
                    {% endif %}

                    {% if data['dexteritySelect'] or data['dexterityNotes'] or data['dexteritydetails'] %}
                    <h3 class="govuk-heading-m">Manual dexterity<a href="descriptors/manual-dexterity" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      {% if data['dexterityNotes'] %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key no-bottom-border">Notes on manual dexterity</dt>
                        <dd class="govuk-summary-list__value no-bottom-border">{{ data['dexterityNotes'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                      </div>
                      {% endif %}
                      {% if data['dexteritySelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">Select the highest scoring task that the claimant cannot do with either hand</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['dexteritySelect'] }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['dexteritydetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['dexteritydetails'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                  </dl>
                    {% endif %}
                    

                    {% if data['makingselfunderstoodSelect'] or data['makingselfunderstoodNotes'] or data['makingselfunderstooddetails'] %}
                    <h3 class="govuk-heading-m">Making self understood<a href="descriptors/making-self-understood" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      {% if data['makingselfunderstoodNote'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">Notes on making self understood</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['makingselfunderstoodNotes'] | striptags(true) | escape | nl2br }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['makingselfunderstoodSelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">Which of these options describes how the claimant can communicate simple messages to people by speaking, writing or typing?</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['makingselfunderstoodSelect'] }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['makingselfunderstooddetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['makingselfunderstooddetails'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                    </dl>
                    {% endif %}

                    {% if data['understandingcommunicationSelect'] or data['understandingcommunicationNotes'] or data['understandingcommunicationdetails'] %}
                    <h3 class="govuk-heading-m">Understanding communication<a href="descriptors/understanding-communication" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      {% if data['understandingcommunicationNotes'] %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key no-bottom-border">Notes on understanding communication</dt>
                        <dd class="govuk-summary-list__value no-bottom-border">{{ data['understandingcommunicationNotes'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                      </div>
                      {% endif %}
                      {% if data['understandingcommunicationSelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">Which of these options describes how the claimant can understand simple messages from other people by hearing, reading or lip-reading?</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['understandingcommunicationSelect'] }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['understandingcommunicationdetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['understandingcommunicationdetails'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                    </dl>
                    {% endif %}

                    {% if data['navigationSelect'] or data['navigationNotes'] or data['navigationdetails'] %}
                    <h3 class="govuk-heading-m">Navigation<a href="descriptors/navigation" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      {% if data['navigationNotes'] %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key no-bottom-border">Notes on navigation</dt>
                        <dd class="govuk-summary-list__value no-bottom-border">{{ data['navigationNotes'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                      </div>
                      {% endif %}
                      {% if data['navigationSelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">Which of these options describes how well the claimant can get around safely?</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['navigationSelect'] }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['navigationdetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['navigationdetails'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                    </dl>
                    {% endif %}

                    {% if data['continenceSelect'] or data['continenceNotes'] or  data['continencedetails']%}
                    <h3 class="govuk-heading-m">Continence<a href="descriptors/continence" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      {% if data['continenceNotes'] %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key no-bottom-border">Notes on continence</dt>
                        <dd class="govuk-summary-list__value no-bottom-border">{{ data['continenceNotes'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                      </div>
                      {% endif %}
                      {% if data['continenceSelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">Which of these options describes how well the claimant can control their bladder and bowels?</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['continenceSelect'] }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['continencedetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['continencedetails'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                    </dl>
                    {% endif %}

                    {% if data['stayingconsciousSelect'] or data['stayingconsciousNotes'] or data['stayingconsciousdetails'] %}
                    <h3 class="govuk-heading-m">Staying conscious when awake<a href="descriptors/staying-conscious" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      {% if data['stayingconsciousNotes'] %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key no-bottom-border">Notes on staying conscious when awake</dt>
                        <dd class="govuk-summary-list__value no-bottom-border">{{ data['stayingconsciousNotes'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                      </div>
                      {% endif %}
                      {% if data['stayingconsciousSelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">How often does the claimant lose consciousness because of fainting, seizures or blackouts?</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['stayingconsciousSelect'] }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['stayingconsciousdetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['stayingconsciousdetails'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                  </dl>
                    {% endif %}
                

                {% if data['learningtasksSelect'] or data['hazardsdangerSelect'] or data['everydaytasksSelect'] or data['copingSelect'] or data['gettingaboutSelect'] or data['socialsituSelect'] or data['behaviourSelect'] %}
                <h2 class="govuk-heading-l">Mental, cognitive and intellectual capabilities</h2>
                {% endif %}
               

                    {% if data['learningtasksSelect'] or data['learningtasksNotes'] or data['learningtasksdetails'] %}
                    <h3 class="govuk-heading-m">Learning to do new tasks<a href="descriptors/learning-tasks" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      {% if data['learningtasksNotes'] %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key no-bottom-border">Notes on learning to do new tasks</dt>
                        <dd class="govuk-summary-list__value no-bottom-border">{{ data['learningtasksNotes'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                      </div>
                      {% endif %}
                      {% if data['learningtasksSelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">Which of these options describes how well the claimant can learn how to do new tasks?</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['learningtasksSelect'] }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['learningtasksdetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['learningtasksdetails'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                    </dl>
                 
                    {% endif %}
                   
                    {% if data['hazardsdangerSelect'] or data['hazardsdangerNotes'] or data['hazardsdangerdetails'] %}
                    <h3 class="govuk-heading-m">Awareness of hazards and danger<a href="descriptors/hazards-danger" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      {% if data['hazardsdangerNotes'] %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key no-bottom-border">Notes on awareness of hazards and danger</dt>
                        <dd class="govuk-summary-list__value no-bottom-border">{{ data['hazardsdangerNotes'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                      </div>
                      {% endif %}
                      {% if data['hazardsdangerSelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">How often does the claimant need someone with them to help them stay safe?</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['hazardsdangerSelect'] }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['hazardsdangerdetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['hazardsdangerdetails'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                    </dl>
                    {% endif %}
                    
                   

                    {% if data['everydaytasksSelect'] or data['everydaytasksNotes'] or data['everydaytasksdetails']%}
                    
                    <h3 class="govuk-heading-m">Planning, starting and finishing everyday tasks<a href="descriptors/everyday-tasks" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      {% if data['everydaytasksNotes'] %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key no-bottom-border">Notes on planning, starting and finishing everyday tasks</dt>
                        <dd class="govuk-summary-list__value no-bottom-border">{{ data['everydaytasksNotes'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                      </div>
                      {% endif %}
                      {% if data['everydaytasksSelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">Can the claimant plan, start and finish everyday tasks without difficulty?</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['everydaytasksSelect'] }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['everydaytasksdetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['everydaytasksdetails'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                    </dl>
                    {% endif %}

                    {% if data['copingSelect'] or data['copingNotes'] or data['copingdetails'] %}

                    <h3 class="govuk-heading-m">Coping with changes<a href="descriptors/coping-with-changes" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      {% if data['copingNotes'] %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key no-bottom-border">Notes on coping with changes</dt>
                        <dd class="govuk-summary-list__value no-bottom-border">{{ data['copingNotes'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                      </div>
                      {% endif %}
                      {% if data['copingSelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">How well can the claimant cope with changes to their routine?</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['copingSelect'] }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['copingdetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['copingdetails'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                    </dl>
                    {% endif %}

                    {% if data['gettingaboutSelect'] or data['gettingaboutNotes'] or data['gettingaboutdetails'] %}
                    <h3 class="govuk-heading-m">Getting about<a href="descriptors/getting-about" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                     
                      {% if data['gettingaboutNotes'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">Notes on getting about</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['gettingaboutNotes'] | striptags(true) | escape | nl2br }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['gettingaboutSelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">Choose the descriptor that's most appropriate to the claimant</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['gettingaboutSelect'] }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['gettingaboutdetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['gettingaboutdetails'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                    </dl>
                    {% endif %}

                    {% if data['socialsituSelect'] or data['socialsituNotes'] or data['socialsitudetails'] %}
                    <h3 class="govuk-heading-m">Coping with social situations<a href="descriptors/social-situations" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      {% if data['socialsituNotes'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">Notes on coping with social situations</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['socialsituNotes'] | striptags(true) | escape | nl2br }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['socialsituSelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">How does the claimant cope with meeting and being with people?</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['socialsituSelect'] }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['socialsitudetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['socialsitudetails'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                    </dl>
                    {% endif %}

                    {% if data['behaviourSelect'] or data['behaviourNotes'] or data['behaviourdetails'] %}
                    <h3 class="govuk-heading-m">Behaving appropriately around other people<a href="descriptors/behaving-around-others" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      {% if data['behaviourNotes'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">Notes on behaving appropriately around other people</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['behaviourNotes'] | striptags(true) | escape | nl2br }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['behaviourSelect'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key no-bottom-border">How often does the claimant behave in a way which upsets other people?</dt>
                      <dd class="govuk-summary-list__value no-bottom-border">{{ data['behaviourSelect'] }}</dd>
                      <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                    </div>
                    {% endif %}
                    {% if data['behaviourdetails'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Give details</dt>
                        <dd class="govuk-summary-list__value">{{ data['behaviourdetails'] | striptags(true) | escape | nl2br }}</dd>
                        <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    {% endif %}
                  </dl>
                    {% endif %}
                

                {% if data['eatingSelect'] or data['eatingNotes'] or data['eatingdetails'] %}
                <h2 class="govuk-heading-l">Eating and drinking</h2>


                <h3 class="govuk-heading-m">Eating and drinking<a href="descriptors/eating-drinking" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  
                  {% if data['eatingNotes'] %}
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key no-bottom-border">Notes on eating and drinking</dt>
                          <dd class="govuk-summary-list__value no-bottom-border">{{ data['eatingNotes'] | striptags(true) | escape | nl2br }}</dd>
                          <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                        </div>
                        {% endif %}
                        {% if data['eatingSelect'] %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key no-bottom-border">Choose the descriptor that’s most appropriate</dt>
                        <dd class="govuk-summary-list__value no-bottom-border">{{ data['eatingSelect'] }}</dd>
                        <dd class="govuk-summary-list__actions no-bottom-border"></dd>
                      </div>
                      {% endif %}
                      {% if data['eatingdetails'] %}
                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">Give details</dt>
                          <dd class="govuk-summary-list__value">{{ data['eatingdetails'] | striptags(true) | escape | nl2br }}</dd>
                          <dd class="govuk-summary-list__actions"></dd>
                      </div>
                      {% endif %}
                  </dl>
                  {% endif %}

                  <h2 class="govuk-heading-l">Ending the assessment</h2>
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">What is your recommendation?</dt>
                    <dd class="govuk-summary-list__value">{{ data['recommendation'] | striptags(true) | escape | nl2br }}</dd>
                    <dd class="govuk-summary-list__actions"><a class="govuk-link" href="recommendation">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                </div>
              </dl>

              {% if (data['recommendation'] == "Limited capability for work (LCW)") %}

              {% if data['lcw'] or data['lcwreasons'] or data['whenreviewlcw'] %}

              <h3 class="govuk-heading-m">Limited capability for work (LCW)<a href="lcw" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">

               
                {% if data['lcw'] %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">What is your recommendation?</dt>
                  <dd class="govuk-summary-list__value">{{ data['lcw'] }}</dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                {% endif %}

                {% if data['lcwreasons'] %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Why is this your recommendation?</dt>
                  <dd class="govuk-summary-list__value">{{ data['lcwreasons'] | striptags(true) | escape | nl2br }}</dd>
                  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="lcw-why">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                </div>
                {% endif %}

                {% if data['whenreviewlcw'] %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">When should this claim be reviewed?</dt>
                  <dd class="govuk-summary-list__value"><p>{{ data['whenreviewlcw'] }}</p>
                    <p>{{ data['reviewtimereasonslcw'] }}</p>
                  </dd>
                  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="time-review-lcw">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                </div>
                {% endif %}
                </dl>
                {% endif %}
                {% endif %}

                {% if (data['recommendation'] == "Limited capability for work-related activity (LCWRA)") %}

                {% if data['lcwra'] or data['lcwrareasons'] or data['whenreviewlcwra']%}

                <h3 class="govuk-heading-m">Limited capability for work-related activity (LCWRA)<a href="lcwra" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
               
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                
                {% if data['lcwra'] %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">What is your recommendation?</dt>
                  <dd class="govuk-summary-list__value">{{ data['lcwra'] }}</dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                {% endif %}

                {% if data['lcwrareasons'] %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Why is this your recommendation?</dt>
                  <dd class="govuk-summary-list__value">{{ data['lcwrareasons'] | striptags(true) | escape | nl2br }}</dd>
                  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="lcwra-why">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                </div>
                {% endif %}

                {% if data['whenreviewlcwra'] %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">When should this claim be reviewed?</dt>
                  <dd class="govuk-summary-list__value"><p>{{ data['whenreviewlcwra'] }}</p>
                    <p>{{ data['reviewtimereasonslcwra'] }}</p>
                  </dd>
                  <dd class="govuk-summary-list__actions"><a class="govuk-link" href="time-review-lcwra">Change<span class="govuk-visually-hidden"> name</span></a></dd>
                </div>
                {% endif %}
               
</dl>
{% endif %}
{% endif %}


                {% if (data['recommendation'] == "Threshold not met") %}

                    {% if data['fitforwork'] %}
                    <h3 class="govuk-heading-m">Threshold not met<a href="fit-for-work" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Change</a></h3>
                   
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                   
                      <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">Why is this your recommendation?</dt>
                      <dd class="govuk-summary-list__value">{{ data['fitforwork'] | striptags(true) | escape | nl2br }}</dd>
                      <dd class="govuk-summary-list__actions"></dd>
                    </div>
                 
                    {% endif %}
  
                  </dl>
                  {% endif %}
                  <a href="assessment-overview" class="govuk-button">Continue</a>

        </div>
</div>


    </main>
  </div>
{% endblock %}
