{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral-2.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

    {{ govukBackLink({
      text: "Back",
      href: "recommendation"
    }) }}



    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">


<h1 class="govuk-heading-l">Threshold not met</h1>

  <form action="check" method="post" id="question-form" novalidate>

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Enter why you are recommending threshold not met",
          href: "#lcwrareasons"
        }
      ]
    }) }}

    {{ govukTextarea({
      name: "fitforwork",
      id: "fitforwork",
      rows: "12",
      label: {
        text: "Why is this your recommendation?",
        classes: "govuk-label--s",
        isPageHeading: false
      },
      value: data['fitforwork'],
      errorMessage: {
        text: "Enter why you are recommending theshold not met"
      }
    }) }}  


<button class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

</div>
</div>

</main>
</div>





{% endblock %}
